<div *ngIf="myClients.length == 0">
    <h1 class="display-4 text-center">Para iniciar, agregue registros de cliente.</h1>
</div>
<div *ngIf="myClients.length != 0">
    <form #consultForm="ngForm" (ngSubmit)="addCons()">
        <div class="form-group">
            <label for="client">Cliente</label>
            <select class="form-control" id="client" required [(ngModel)]="client" name="client">
                <option *ngFor="let c of myClients" [ngValue]="c">{{c.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="pet">Mascota</label>
            <input type="text" class="form-control" id="pet" required [(ngModel)]="pet" name="pet" placeholder="Nombre de la mascota">
        </div>
        <div class="form-group">
            <label for="treatment">Tratamiento</label>
            <input type="text" class="form-control" id="treatment" required [(ngModel)]="treatment" name="treatment" placeholder="Tratamiento realizado">
        </div>
        <div class="form-group">
            <label for="medicine">Medicamento</label>
            <input type="text" class="form-control" id="medicine" required [(ngModel)]="medicine" name="medicine" placeholder="Medicamento asignado">
        </div>
        <div class="form-group">
            <label for="price">Costo</label>
            <input currencyMask [options]="{align: 'left', min: '0.01'}" class="form-control" id="price" required [(ngModel)]="price" name="price" placeholder="Precio en dólares" required>
        </div>
        <div class="row justify-content-center">
        <button type="submit" class="btn btn-success" [disabled]="!consultForm.form.valid">{{($key)? 'Actualizar' : 'Agregar'}}</button>
    </div>
    </form>
    <div class="form-group">
        <label for="filter">Filtrar por numero de ticket</label>
        <input type="text" class="form-control" id="filter" required [(ngModel)]="param" name="filter" placeholder="Ingrese numero de ticket" (ngModelChange)="filter()">
    </div>
    <table class="table">
        <thead>
            <th>Numero de ticket</th>
            <th>Cliente</th>
            <th>Mascota</th>
            <th>Tratamiento</th>
            <th>Medicamento</th>
            <th>Costo</th>
            <th>Descuento aplicado</th>
            <th>Total</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let consult of myConsults">
                <td>{{consult.id}}</td>
                <td>{{getClient(consult.clientKey).name}}</td>
                <td>{{consult.pet}}</td>
                <td>{{consult.treatment}}</td>
                <td>{{consult.medicine}}</td>
                <td>${{consult.price.toFixed(2)}}</td>
                <td>{{consult.discount}}%</td>
                <td>${{consult.total.toFixed(2)}}</td>
                <td>
                    <a class="btn btn-warning text-white botone" (click)="printPDF(consult)">
                        PDF
                    </a>
                    <a class="btn btn-secondary text-white botone" (click)="onEdit(consult)">
                        <i class="far fa-edit"></i>
                    </a>
                    <a class="btn btn-danger text-white botone" (click)="onDelete(consult.$key)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>