<nav class="navbar navbar-light bg-light justify-content-center">
  <a class="navbar-brand" href="#">Veterinaria</a>
</nav>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row mt-5 mb-5">
        <div class="col-4 offset-2">
          <button pButton (click)="clientOn = true" class="btn btn-lg btn-block"
            [ngClass]="{'btn-primary': clientOn, 'btn-outline-primary': !clientOn}">Clientes</button>
        </div>
        <div class="col-4">
          <button pButton (click)="clientOn = false" class="btn btn-lg btn-block"
            [ngClass]="{'btn-primary': !clientOn, 'btn-outline-primary': clientOn}">Consultas</button>
        </div>
      </div>
      <app-cliente *ngIf="clientOn"></app-cliente>
      <app-consulta *ngIf="!clientOn"></app-consulta>
    </div>
  </div>
</div>
