<div class="container bg-white rounded formu">
    <div class="header">
        <h1>Recuperacion de Contraseña</h1>
        <p class="parraf">Porfavor ingresa el Email para recuperar contraseña</p>
    </div>
    <form name="formu" class="orden">
        <div class="form-group">
            <div class="form-group">
                <label class="font-weight-bold">Correo Electronico</label>
                <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-success btn-lg" value="Recuperar Contraseña"
                (click)="authService.ForgotPassword(passwordResetEmail.value)">
              </div>
              <span>Recuperacion Correcta?<span class="redirect colors" routerLink="/sign-in"> Inicia Sesion</span></span>
        </div>
    </form>
</div>